<div id="<%= dom_id post %>">

<div class="card">
        <div class="card-body">
          <%= image_tag post.image, class: "rounded-circle", alt: "imagen del post" %>
            <h5 class="card-title"><%= post.title %></h5>
            <p class="card-text"><%= post.description %></p>
        </div>
      </div>



  <%# <p>
    <strong>Comment:</strong>:</strong>
    <%= post.description %>
  <%# <p> %> 

</div>


